body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.purpleText {
  width: 185px;
  color: #8000ff;
}

.blackText {
  width: 120px;
}

.container-paragraph {
  height: 118px;
  width: 236px;

  /* border: solid 2px black; */
}

.paragraph {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
